.paragraph
{
  color: #848f2c;
  width: 30%;
  padding-left:15%;
  margin-left: 15%;
  float: right;
  font-style: inherit;
  text-indent: 50%;
}
body 
{
  background-color: #fffbf8;
  padding-bottom: 40%;
}
header
{
  background-color:#f6f4ed;
}

nav 
{
    overflow: visible;
    position:static;
    width: 25%;
    height: 5%;
    float: right;
  } 
  #para1::first-letter 
  {
    color: #848f2c;
  }
  #reflecp
  {
    text-indent: 5%;
  }
  a:link 
  {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited 
  {
    color: #848f2c;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover 
  {
    color: #707b23;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active 
  {
    color: #707b23;
    background-color: transparent;
    text-decoration: underline;
  }
  .footer 
  {
   display:hide;
  }

  .footer p {
    line-height: 0.5; /* Adjust the value to decrease spacing */
  }
  
  
  /* Specific styles for Footer 1 */
  #footer1 
  {
      background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('images/background.png');
      background-size: cover;  
      background-position: center; 
      background-repeat: no-repeat; 
      font-size: 70%; /* Adds space inside the footer */
      font-weight: 550;
      padding: 0.5% 1%;
  }

  .footer-top-padding {
    height: 8px;
    background-color: #fffbf8;
  }

  #email {
    width: 15px; /* Set the width */
    height: auto;  /* Maintain aspect ratio */
    vertical-align: middle;
  }

  #phone {
    width: 10px; /* Set the width */
    height: auto;  /* Maintain aspect ratio */
    vertical-align: middle;
  }
  
 .zoom-image {
  transition: transform 0.3s ease; 
}

.zoom-image:hover {
  transform: scale(1.2); 
}

video {
  width: 100%;               
  max-width: 800px;         
  border-radius: 8px;       
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
  display: block;          
  margin: 20px auto; 
}
