.paragraph
{
  color: #848f2c;
  width: 30%;
  padding-left:15%;
  margin-left: 15%;
  float: right;
  font-style: inherit;
  text-indent: 50%;
}
body 
{
  background-color: #fffbf8;
}
header
{
  background-color:#f6f4ed;
  padding-bottom: 3%;
}

nav 
{
    overflow: visible;
    position:static;
    width: 25%;
    height: 5%;
    float: right;
  } 
  #para1::first-letter 
  {
    color: #848f2c;
  }
  #reflecp
  {
    text-indent: 50%;
  }
  a:link 
  {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited 
  {
    color: #848f2c;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover 
  {
    color: #707b23;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active 
  {
    color: #707b23;
    background-color: transparent;
    text-decoration: underline;
  }
  .footer 
  {
   display:hide;
  }
  
  /* Specific styles for Footer 1 */
  #footer1 
  {
    background-color: #f6f4ed;
    font-size: 70%;
  }
  